@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kalnia:wght@100..700&family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dedede;
    font-family: "Poppins", sans-serif;
}

main {
    height: 50vh;
    margin-top: -50px;
    padding: 60px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/bannerinicio.png);
}

.contrato {
    font-weight: 200;
    font-size: 16px;
    text-align: center;
}

.first-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #EBCFD5;
    padding: 12px;
    border-radius: 32px;
}

/*Header*/

.menu {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: transparent;
}

.logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.name-empresa {
    color: #6fafeb;
    font-family: "Kalnia", serif;
    margin-left: 40px;
}

.instagram i {
    color: rgb(216, 209, 209);
    font-size: 32px;
    margin-left: 70px;
}

h2 {
    font-size: 24px;
    text-align: left;
}

.text {
    color: #DA4EB0;
}

a {
    text-decoration: none;
}

.containerPai {
    display: flex;
    margin: 32px 18px;
}

.first-image img {
    border-radius: 13px;
    width: 100px;
    height: 120px;
}

.containerFlex img {
    border-radius: 13px;
    width: 55px;
    height: 55px;
}

.contant {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #857e7e;
    background: linear-gradient(137deg, #bfa8cc, #FFAFCC);
    border: none;
    padding: 10px 15px;
    border-radius: 32px;
    margin-top: 12px;
    box-shadow: -8px 4px 12px -2px rgba(0, 0, 0, 35%);
    cursor: pointer;
    overflow: hidden;
}

button i {
    font-size: 18px;
    color: green;
}

button:hover i {
    margin-right: 55px;
    margin-left: -55px;
}

button p {
      font-size: 14px;
}

button:hover p {
      transform: translateX(-130px);
}

/*Beneficios */

.beneficios {
    background-color: #a2caea9d;
    box-shadow: 6px 6px 6px .8px rgba(0, 0, 0, 25%) inset;
    padding: 32px 12px;
}

.containerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.descricao {
    text-align: center;
    font-size: 12px;
    color: #16396D;
    hyphens: auto;
}

.opcoes {
    display: flex;
    justify-content: space-between;
    margin: 22px;
}

/* Animações descartadas.

.animacaoConfete {
    animation-name: pular;
    animation-duration: 1.8s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes pular {
    to {
        transform: translateY(-20px);
    }
  
}

.animacaoMoto {
    animation-name: movimentar;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes movimentar {
    from {
        transform: translateX(-35px);
    }
    
    to {
        transform: translateX(25px);

    }
}

.animacaoCifrao {
    animation-name: cifrao;
    animation-duration: 1.9s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@keyframes cifrao {
    to {
        transform: rotateY(360deg);
    }
}

*/

.imgBaby img {
    width: 90px;
    height: auto;
}


.imgAnimacao:hover {
    transform: scale(1.2);
    transition: 1s;
}

/*Seção dos valores*/

.containerBasico {
    background-color: #FFC8DD;
    width: 85%;
    height: 330px;
    border-radius: 12px;
    box-shadow: -4px -4px 3px rgba(0, 0, 0, 20%);
}

.destaqueFesta {
    font-size: 15px;
    padding: 6px 42px 6px 12px;
    border-radius: 32px;
    background: linear-gradient(137deg, #bfa8cc, #FFAFCC);
    box-shadow: -4px -4px 3px rgba(0, 0, 0, 20%);
}

.containerValores {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}

.valor {
    color: white;
    font-weight: normal;
    font-size: 35px;
    margin-top: 12px;
    margin-left: 12px;
}

.topicos {
    font-size: 18px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ver {
    border: 2px solid #BDE0FE;
    background-color: transparent;
    padding: 10px 35px;
    border-radius: 32px;
    color: #323132;
    text-transform: uppercase;
}

.cavalete {
    font-size: 12px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

ul {
    margin: 0px 0px 12px 30px;
}

.containerFluxo {
    background-color: #CDB4DB;
    width: 80%;
    height: 350px;
    border-radius: 12px;
    box-shadow: -4px -4px 3px rgba(0, 0, 0, 25%);
}

.verMais {
    background: linear-gradient(137deg, #BC6AF3, #639CD0);
    border: none;
    padding: 10px 36px;
    border-radius: 25px;
    color: #323132;
    text-transform: uppercase;
}

.btn-Animacao:hover {
    transform: scale(1.2);
    transition: 1s;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.342);
}

/*Carossel*/

.title-Photos {
    color: #151C68;
    text-align: center;
    margin-bottom: 18px;
}

.text-second {
    font-weight: 500;
}

.carrossel-images {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: white;
    margin-top: 30px;
    padding-bottom: 30px;
}

.carrossel-track {
    display: flex;
    width: max-content;
    animation: scroll 30s linear infinite;
    gap: 20px;
}

.carrossel-track img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/*Responsividade*/

@media (max-width: 414px) {

    header {
        padding: 15px;
    }

    main {
        width: 100%;
        margin-top: -80px;
    }

    .first {
        font-size: 21px;
    }

    .beneficios{
        width: 100%;
    }

    .containerValores {
        width: 100%;

        padding: 0px 10px ;
    }
    
    .carrossel-images {
        width: 100%;
    }

}

/*      ESTILO GALERIA       */

.galeria{
    max-width: 440px;
    margin: 0 auto;
    padding: 20px;
}
.galeria h1{
    color: #151C68;
    font-weight: 400;
    text-align: center;
}
.subtitulo{
    color: #1F68AC;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}
.categoria{
    margin-bottom: 25px;
    margin-top: 18px;
}
.categoria h2{
    color: #030733;
    font-size: 24px;
    font-weight: 400;
    margin-left: 5px;
    margin-bottom: 4px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    padding: 8px;
    border-radius: 14px;
}
.cards img{
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    display: block;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.18);
}

.azul{
    background-color: #A2C9EA;
}
.rosa{
    background-color: #ffc8dd;
}

.footer{
    background-color: #A2C9EA;
    padding: 28px 16px;
    text-align: center;
    margin-top: 22px;
    box-shadow: 0 -4px 6px rgba(0,0,0,0.08);
}

.textFooter{
    font-size: 16px;
    font-weight: 500;
    color: #16396D;
    letter-spacing: 0.3px;
}